body,
html {
  padding: 0;
  margin: 0;
  font-size: 10px;
  box-sizing: border-box;
  background-color: rgb(229, 231, 233);
}

h1 {
  text-align: center;
  font-size: 50px;
  padding: 30px;
  margin: 30px auto;
  color: rgb(94, 78, 78);
}

.card {
  width: 30%;
  background-color: rgb(160, 150, 150);
  border-radius: 20px;
  height: 40rem;
  margin: 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.cardHeader {
    font-size: 50px;
}

.img {
    height: 200px;
}

.container {
  background-color: rgb(229, 231, 233);
  width: 90vw;
  margin: 2rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
